Repository Oslandia/pysfcgal_ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:flake8, lint:mypy, test:unit, build:documentation

lint:flake8:
  stage: ðŸ lint
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install --force-reinstall flake8==7.1.1
  script:
  - flake8 pysfcgal/ tests/ --config=setup.cfg

lint:mypy:
  stage: ðŸ lint
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install -U mypy types-cffi typing-extensions
  script:
  - mypy pysfcgal/

test:unit:
  stage: ðŸ¤ž test
  image: ${SFCGAL_REGISTRY}:debian-latest
  before_script:
  - apt install --no-install-recommends --yes python3 python3-pip python3-dev python3-venv gcc
  - python3 -m venv venv
  - source venv/bin/activate
  - python3 -m pip install -U pytest pytest-cov
  - pip install -e .
  ...

build:documentation:
  stage: ðŸ“¦ build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/documentation.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd docs && mkdocs build --verbose --strict
  artifacts:
    name: documentation
  ...

test: refacto Polygon and MultiPolygon tests and rename fixtures
  tests/polygon/conftest.py
  tests/polygon/test_multipolygon.py
  tests/polygon/test_polygon.py
Due: none

test: rename c0, c1, c2, c3 fixtures
  tests/conftest.py
  tests/test_geometrycollection.py
  tests/test_linestring.py
  tests/test_multilinestring.py
  tests/test_multipoint.py
  tests/test_polyhedralsurface.py
  tests/test_tin.py
  tests/test_triangle.py
Due: lint:flake8, test:unit

test: refacto linestring unit tests
  tests/linestring/conftest.py
  tests/linestring/test_linestring.py
  tests/linestring/test_multilinestring.py
Due: none

test: factorizing some fixtures
  tests/conftest.py
  tests/test_geometrycollection.py
  tests/test_multipoint.py
  tests/test_triangle.py
Due: lint:flake8, test:unit

chore(sfcgal): Fix MultiPoint.sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): Fix multipoint default constructor
  pysfcgal/sfcgal.py
  tests/test_multipoint.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(sfcgal): Fix MultiLineString.sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): Fix multilinestring default constructor
  pysfcgal/sfcgal.py
  tests/linestring/test_multilinestring.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): Fix multipolygon default constructor
  pysfcgal/sfcgal.py
  tests/polygon/test_multipolygon.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(sfcgal): Fix MultiPolygon.sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add geometry in a GeometryCollectionBase
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add a point to a multipoint
  pysfcgal/sfcgal.py
  tests/test_multipoint.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Add add_geometry to GeometryCollection
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add a polygon to a multipolygon
  pysfcgal/sfcgal.py
  tests/polygon/test_multipolygon.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add a linestring to a multilinestring
  pysfcgal/sfcgal.py
  tests/linestring/test_multilinestring.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add a triangle to a tin
  pysfcgal/sfcgal.py
  tests/test_tin.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Allow to add a patch to a polyhedralsurface
  pysfcgal/sfcgal.py
  tests/test_polyhedralsurface.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

docs(sfcgal): Fix colon spacing on some docstrings
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

test(solid): Rename some fixtures
  tests/solid/conftest.py
  tests/solid/test_solid.py
Due: none

feat(sfcgal): Allow to add a solid to a multisolid
  pysfcgal/sfcgal.py
  tests/solid/conftest.py
  tests/solid/test_multisolid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(capi): Update capi definitions
  pysfcgal/sfcgal_def.c
  pysfcgal/sfcgal_def_msvc.c
Due: none

feat(sfcgal): Add a method to set the exterior shell of a solid
  pysfcgal/sfcgal.py
  tests/solid/test_solid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

feat(sfcgal): Add a method to add an interior shell to a solid
  pysfcgal/sfcgal.py
  tests/solid/test_solid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

test(coredump): Handle more possible segfault messages
  tests/test_coredump.py
Due: lint:flake8, test:unit

chore(sfcgal): Fix Solid.sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): Fix solid default constructor
  pysfcgal/sfcgal.py
  tests/solid/test_solid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(sfcgal): Fix MultiSolid.sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): Fix multisolid default constructor
  pysfcgal/sfcgal.py
  tests/solid/test_multisolid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): builds empty Tin and PolyhedralSurface
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

test(test_geometry): empty geometries
  tests/test_geometry.py
Due: lint:flake8, test:unit

fix(sfcgal): builds an empty Polygon
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): builds an empty LineString
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): handle wrong Point constructor parametrization
  pysfcgal/sfcgal.py
  tests/test_point.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix: prevent a segfault in CoordinateSequence
  pysfcgal/sfcgal.py
  tests/linestring/test_linestring.py
  tests/test_coredump.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

docs(point.py): creating a first cookbook script
  cookbook/point.py
Due: none

docs: creation of a macro to return the contents of a python file to the md cookbook page
  docs/docs/cookbook/cookbook.md
  docs/macros.py
  docs/mkdocs.yml
  requirements/documentation.txt
Due: none

ci: test cookbook python scripts
  .gitlab-ci.yml
Due: lint:flake8, lint:mypy, test:unit, build:documentation

doc: Adding content to the cookbook
  cookbook/geom_from_wkt.py
  cookbook/geometry_collection.py
  cookbook/linestring.py
  cookbook/multilinestring.py
  cookbook/multipoint.py
  cookbook/multipolygon.py
  cookbook/point.py
  cookbook/polygon.py
  docs/docs/cookbook/cookbook.md
Due: none

docs: upgrade Mkdocs dependencies
  requirements/documentation.txt
Due: none

chore: use markdownlint as git hooks to sanitize documentation
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
Due: none

Path conditions:
  lint:flake8: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  lint:mypy: any of: pysfcgal/*.py, .gitlab-ci.yml
  test:unit: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  build:documentation: any of: pysfcgal/*.py, .gitlab-ci.yml
