Repository Oslandia/pysfcgal_ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:flake8, test:unit, build:documentation

Path conditions:
  lint:flake8: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  test:unit: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  build:documentation: any of: pysfcgal/*.py, .gitlab-ci.yml

ci: test
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

Revert "Update .gitlab-ci.yml"
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

fix(ci): job to deploy to GL Pages must be named 'pages'
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

refactor: rename make_solid to to_solid
  pysfcgal/sfcgal.py
  tests/test_polyhedralsurface.py
  tests/test_sfcgal.py
Due: lint:flake8, test:unit, build:documentation

docs: enrich the README.md file
  README.md
Due: none

docs: more details about installation
  docs/docs/user_guide/build.md
Due: none

docs: Application of the material theme for mkdocs To use the mkdocstring plugin, we recommend using this theme.
  docs/mkdocs.yml
  requirements/documentation.txt
Due: none

docs: enrich the API documentation by setting the numpydoc format in mkdocs
  docs/docs/api_reference/api.md
  docs/mkdocs.yml
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

refactor: build geometries from coordinates and geojson-like data
  pysfcgal/sfcgal.py
  tests/test_geometrycollection.py
  tests/test_linestring.py
  tests/test_multilinestring.py
  tests/test_multipoint.py
  tests/test_multipolygon.py
  tests/test_point.py
  tests/test_polygon.py
  tests/test_polyhedralsurface.py
  tests/test_sfcgal.py
  tests/test_solid.py
  tests/test_tin.py
  tests/test_triangle.py
Due: lint:flake8, test:unit, build:documentation

fix(sfcgal): Fix solid to polyhedralsurface conversion
  pysfcgal/sfcgal.py
  tests/test_solid.py
Due: lint:flake8, test:unit, build:documentation

docs(sfcgal.py): Adding missing docstrings
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(.gitignore): update .gitignore to exclude .vscode config
  .gitignore
Due: none

chor(readme): build.md no longer exists, this topic has been moved to the documentation.
  README.md
Due: none

docs(index.md): Addition of the initial project, powered by SFCGAL contributors and sponsored by oslandia
  docs/docs/index.md
Due: none

feat: 2D- and 3D-translations
  pysfcgal/sfcgal.py
  tests/test_polygon.py
Due: lint:flake8, test:unit, build:documentation

fix: documentation build fails because of an unknown URL
  docs/docs/index.md
Due: none

refactor: convert the IO functions as new Geometry class methods
  pysfcgal/sfcgal.py
  tests/memory_leak.py
  tests/test_polyhedralsurface.py
  tests/test_sfcgal.py
  tests/test_tessellate.py
  tests/test_tin.py
Due: lint:flake8, test:unit, build:documentation

feat: scale operations
  pysfcgal/sfcgal.py
  tests/test_scale.py
Due: lint:flake8, test:unit, build:documentation

feat: write geometries as VTK/OBJ files/strings
  pysfcgal/sfcgal.py
  tests/conftest.py
  tests/test_polygon.py
  tests/test_sfcgal.py
Due: lint:flake8, test:unit, build:documentation

feat: implement rotation operations
  pysfcgal/sfcgal.py
  tests/test_rotate.py
Due: lint:flake8, test:unit, build:documentation

ci: icontract in the test job
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

fix: icontract decorators must have a lambda as the first parameter
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

fix: call the same decorator several times
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

test: release the validity constraint for force_rhr and force_lhr methods
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

feat: buffer 3D on Point and LineString
  pysfcgal/sfcgal.py
  tests/test_buffer.py
Due: lint:flake8, test:unit, build:documentation

feat: buffer 3D on Point and LineString
  CONTRIBUTING.md
  tests/test_buffer.py
Due: lint:flake8, test:unit

chore(sfcgal): Fix Geometry.round typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix _geom attribute typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix Geometry.from_sfcgal_geometry typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix Geometry.is_valid_detail typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation
