Repository Oslandia/pysfcgal_ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:flake8, lint:mypy, test:unit, build:documentation

lint:flake8:
  stage: ðŸ lint
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install --force-reinstall flake8==7.1.1
  script:
  - flake8 pysfcgal/ tests/ --config=setup.cfg

lint:mypy:
  stage: ðŸ lint
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install -U mypy types-cffi typing-extensions
  script:
  - mypy pysfcgal/

test:unit:
  stage: ðŸ¤ž test
  image: ${SFCGAL_REGISTRY}:debian-latest
  before_script:
  - apt install --no-install-recommends --yes python3 python3-pip python3-dev python3-venv gcc
  - python3 -m venv venv
  - source venv/bin/activate
  - python3 -m pip install -U pytest pytest-cov
  - pip install -e .
  ...

build:documentation:
  stage: ðŸ“¦ build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/documentation.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd docs && mkdocs build --verbose --strict
  artifacts:
    name: documentation
  ...

docs: enable them options and Makrdown extensions to improve rendered website
  docs/mkdocs.yml
Due: none

feat: 3D tessellation
  pysfcgal/sfcgal.py
  tests/solid/test_solid.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix: wrong documentation dependency version
  .gitlab-ci.yml
  requirements/documentation.txt
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix: prevent a segfault in CoordinateSequence
  pysfcgal/sfcgal.py
  tests/linestring/test_linestring.py
  tests/test_coredump.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(ci): Add wheel generation for python 3.13
  .gitlab-ci.yml
Due: lint:flake8, lint:mypy, test:unit, build:documentation

docs: simplify the architecture
  docs/docs/api.md
  docs/docs/build.md
  docs/mkdocs.yml
Due: none

docs: make index page and build page clearer
  docs/docs/index.md
  docs/docs/user_guide/build.md
Due: none

fix(docs/docs/build.md): do not recommend to directly invoke setup.py
  docs/docs/build.md
Due: none

docs(sfcgal): Fix colon spacing on some docstrings
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(update_def): Switch to a python version and handle deprecated
  update_def.py
  update_def.sh
Due: none

chore(ci): Run python linters on update_def.py
  .gitlab-ci.yml
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(ci): Run tests when the c files have changed
  .gitlab-ci.yml
Due: lint:flake8, lint:mypy, test:unit, build:documentation

chore(capi): Update definition files
  pysfcgal/sfcgal_def.c
  pysfcgal/sfcgal_def_msvc.c
Due: none

feat(sfcgal.py): Added an alias method for translate. | To ensure consistency in function naming, do not use 2d in function names.
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): handle wrong Point constructor parametrization
  pysfcgal/sfcgal.py
  tests/test_point.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): builds an empty Polygon
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

fix(sfcgal): builds an empty LineString
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

test(test_geometry): empty geometries
  tests/linestring/test_multilinestring.py
  tests/polygon/test_multipolygon.py
  tests/solid/test_multisolid.py
  tests/solid/test_solid.py
  tests/test_geometry.py
  tests/test_multipoint.py
Due: lint:flake8, test:unit

fix(sfcgal): builds empty Tin and PolyhedralSurface
  pysfcgal/sfcgal.py
Due: lint:flake8, lint:mypy, test:unit, build:documentation

Path conditions:
  lint:flake8: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  lint:mypy: any of: pysfcgal/*.py, .gitlab-ci.yml
  test:unit: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  build:documentation: any of: pysfcgal/*.py, .gitlab-ci.yml
