Repository Oslandia/pysfcgal_ci: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:flake8, test:unit, build:documentation

lint:flake8:
  stage: üêç lint
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install --force-reinstall flake8==7.1.1
  script:
  - flake8 pysfcgal/ tests/ --config=setup.cfg

test:unit:
  stage: ü§û test
  image: ${SFCGAL_REGISTRY}:debian-latest
  before_script:
  - apt install --no-install-recommends --yes python3 python3-pip python3-dev python3-venv gcc
  - python3 -m venv venv
  - source venv/bin/activate
  - python3 -m pip install -U pytest pytest-cov
  - pip install -e .
  script:
  ...

build:documentation:
  stage: üì¶ build
  image: ${PYTHON_DOCKER_IMAGE}
  before_script:
  - python -m pip install -U pip
  - python -m pip install -U -r requirements/documentation.txt
  script:
  - export PYTHONPATH=$(pwd)
  - cd docs && mkdocs build --verbose --strict
  artifacts:
    name: documentation
  ...

chore(sfcgal): Fix equality operator typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix sfcgal_geom_from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Add some typing to the the Point class
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix Solid.to_polyhedralsurface typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix Geometry.from_coordinates typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix Tin.to_multipolygon typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix GeometryCollection.from_dict typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix typing of is_empty property
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Ignore type in Geometry.from_coordinates
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix sfcgal_geom_from_wkt typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix sfcgal_geom_from_wkb typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(sfcgal): Fix scale_around_center typing
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

chore(ci): Add a mypy job
  .gitlab-ci.yml
  CONTRIBUTING.md
  setup.cfg
Due: lint:flake8, test:unit, build:documentation

feat: straight skeleton partition
  pysfcgal/sfcgal.py
  pysfcgal/sfcgal_def.c
  tests/test_straight_skeleton.py
Due: lint:flake8, test:unit, build:documentation

docs: Color alignment on the sfcgal website
  docs/docs/index.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  docs/docs/index.md
Due: none

fix(ci): Resolved issue where 'pages' job requires 'build' job not in previous stage
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

test(sfcgal): Improve test_intersection_3d coverage
  tests/test_sfcgal.py
Due: lint:flake8, test:unit

chore: prepare v2.0.0
  CHANGELOG.md
  docs/docs/index.md
  setup.py
Due: none

feat: support MultiSolid
  pysfcgal/sfcgal.py
  pysfcgal/sfcgal_def.c
  pysfcgal/sfcgal_def_msvc.c
Due: lint:flake8, test:unit, build:documentation

test: introduce a test subdir with common fixtures between Solid and MultiSolid
  pysfcgal/sfcgal.py
  tests/solid/conftest.py
  tests/solid/test_multisolid.py
  tests/solid/test_solid.py
Due: lint:flake8, test:unit, build:documentation

fix(posix): ensure compatibility with POSIX shell in update script
  update_def.sh
Due: none

ci: Fix 'deploy:pypi' stage by giving access to twine variables
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

ci: Create a release when a tag is pushed
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

ci: test
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

ci: pypitest
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

ci: Fix deploy:pypi job by using an pi token
  .gitlab-ci.yml
Due: lint:flake8, test:unit, build:documentation

feat(sfcgal.py): Added an alias method for translate. To ensure consistency in function naming, do not use 2d in function names.
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

fix: buffer_3d should not accept segments=3
  pysfcgal/sfcgal.py
  pysfcgal/sfcgal_def.c
Due: lint:flake8, test:unit, build:documentation

chore: make mypy happy with Triangle.to_polygon and Tin.to_multipolygon
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

docs: make index page and build page clearer
  docs/docs/index.md
  docs/docs/user_guide/build.md
Due: none

docs: simplify the architecture
  docs/docs/api.md
  docs/docs/build.md
  docs/mkdocs.yml
Due: none

chore(sfcgal): Fix some typing errors
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

docs(sfcgal): Fix typo in buffer_3d docstring
  pysfcgal/sfcgal.py
Due: lint:flake8, test:unit, build:documentation

tests(conftest): Regroup ring fixtures in conftest
  tests/conftest.py
  tests/test_multipolygon.py
  tests/test_polygon.py
Due: lint:flake8, test:unit

fix(sfcgal): Fix is_valid_detail
  pysfcgal/sfcgal.py
  tests/test_sfcgal.py
Due: lint:flake8, test:unit, build:documentation

Path conditions:
  lint:flake8: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  test:unit: any of: pysfcgal/*.py, tests/*.py, .gitlab-ci.yml
  build:documentation: any of: pysfcgal/*.py, .gitlab-ci.yml
